@import "tailwindcss";

/* ===== SEAMLESS MARQUEE NO GAP ===== */

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-loop 30s linear infinite;
}

@keyframes marquee-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
